/*This style the whole page*/
Body{
    background-color:rgb(26, 26, 26); 
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}
/*Main heading*/
h1{
    color: rgb(200, 80, 80);
    font-size: 48px;
    text-align: center;
}

h2{
    color: rgb(200, 80, 80);
    font-size: 30px;
    text-align: left;
}
h3{
    color: rgb(200, 80, 80);
    font-size: 25px;
    text-align: left;
}
/*Paragraph style*/
p{
    font-size: 18px;
    color: rgb(200, 200, 200);
}

li{
    margin-bottom: 5px;
    font-size: 18px;
    color: rgb(200, 200, 200);
}

button{
    background-color: rgba(192, 192, 192, 0.104);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition:background-color 0.3s ease;
    
}

button:hover{
    background-color: gainsboro;
}
p a{
    color: cyan;
    text-decoration: dotted;
}

nav{
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px;
    width: 1800px;
    height: 20px;
    position: fixed; top: 0; left: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav li{
    display: inline;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
}

nav a:hover{
    text-decoration: underline;
}

.Inspector{
    position: fixed; ;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    padding: 20px;
    visibility: hidden;
}

.Inspector button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition:background-color 0.3s ease;
}

.Inspector button:hover{
    background-color: gainsboro;
}

.Hidden{
    display: none;
}

